google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-serp-api
google_search_results
googlesearch-python
gTTS
langchain==0.3.23
langchain-core==0.3.51
langchain-community==0.3.21
langchain-experimental
langchain-groq

langchain-weaviate
matplotlib
openpyxl
numpy
pandas
pydub
requests
seaborn
serpapi
sentence-transformers
SpeechRecognition
streamlit
torch
transformers
weaviate
weaviate-client==3.25.0
