streamlit
requests
pandas
langchain
langchain_groq
langchain-community
pydub
speech_recognition
transformers
matplotlib
seaborn
langchain_experimental
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
serpapi
sentence-transformers 
faiss-cpu==1.7.4
deep_translator
gtts 
torch
